body
{
    margin-top: 30px;
}
.practius-section
{
    
    .back{
    background-image: url(./Media/token-base.png);
    position: relative;
    background-repeat: no-repeat;
    background-position: cover;
    background-size: contain;
    height: 500px;
    width: 100%;
    }
    
}